@using CardExplorer.Client.Core.Scryfall.Symbology
@inject SymbologyClient SymbologyClient

<div class="card-display-container">
    <div class="card-image-wrapper">
        <CardImage Card="Card" IsSeen="IsSeen"></CardImage>
    </div>
    <MudPaper Class="card-text-wrapper" Elevation="0" Outlined>
        @if (!Card.HasMultipleFaces)
        {
            <MudStack Row>
                <MudText Typo="Typo.h6">@Card.Name</MudText>
                <MudSpacer/>
                <MudText Typo="Typo.h6">@_manaCost</MudText>
            </MudStack>
            <MudDivider Class="segment-divider" DividerType="DividerType.FullWidth"/>
            <MudText Typo="Typo.body1">@Card.TypeLine</MudText>
            <MudDivider Class="segment-divider" DividerType="DividerType.FullWidth"/>
            <MudText Class="card-oracle-text" Typo="Typo.body1">@_oracleText</MudText>
        }
        else
        {
            <div>
                <MudStack Row>
                    <MudText Typo="Typo.h6">@Card.CardFaces[0].Name</MudText>
                    <MudSpacer/>
                    <MudText Typo="Typo.h6">@_frontManaCost</MudText>
                </MudStack>
                <MudDivider Class="segment-divider" DividerType="DividerType.FullWidth"/>
                <MudText Typo="Typo.body1">@Card.CardFaces[0].TypeLine</MudText>
                <MudDivider Class="segment-divider" DividerType="DividerType.FullWidth"/>
                <MudText Class="card-oracle-text" Typo="Typo.body1">@_frontText</MudText>
            </div>
            <MudDivider DividerType="DividerType.Middle" Style="margin-top: 1rem; margin-bottom: 1rem; border-width: 3px"/>
            <div>
                <MudStack Row>
                    <MudText Typo="Typo.h6">@Card.CardFaces[1].Name</MudText>
                    <MudSpacer/>
                    <MudText Typo="Typo.h6">@_backManaCost</MudText>
                </MudStack>
                <MudDivider Class="segment-divider" DividerType="DividerType.FullWidth"/>
                <MudText Typo="Typo.body1">@Card.CardFaces[1].TypeLine</MudText>
                <MudDivider Class="segment-divider" DividerType="DividerType.FullWidth"/>
                <MudText Class="card-oracle-text" Typo="Typo.body1">@_backText</MudText>
            </div>
        }
    </MudPaper>
</div>

<style>
    .segment-divider{
        margin-bottom: 0.5rem;
    }
    
    .card-display-container {
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        max-width: 700px;
        gap: 0.5rem;
        touch-action: pan-y;
        overflow-y: hidden;
    }
    
    .card-oracle-text {}
    
    .card-oracle-text p + p {
        margin-top: 1rem;
    }

    .card-symbol {
        display: inline-block;
        margin: 1px 1px -1px 1px;
        -webkit-border-radius: 500px;
        border-radius: 500px;
        -webkit-box-shadow: -1px 1px 0 rgba(0,0,0,0.85);
        box-shadow: -1px 1px 0 rgba(0,0,0,0.85);
        text-indent: -999em;
        overflow: hidden;
        width: 15px;
        height: 15px;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        background-position: top left;
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
        print-color-adjust: exact;
        cursor: help;
    }

    .card-image-wrapper {
        flex: 0 0 auto;
        display: flex;
        justify-content: center;
    }

    .card-text-wrapper {
        overflow-x: auto;
        touch-action: auto;
        overflow-y: auto;
        flex: 1 1 auto;
        min-width: 0;
        width: 100%;
        padding: 0.5rem 1rem;
    }

    @@media (min-width: 960px) {
        .card-display-container {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            overflow-y: hidden;
            touch-action: auto;
            gap: 1.5rem;
        }
        
        .card-text-wrapper {
            height: 100%;
            overflow-y: auto;
        }
    }
</style>
