@using CardExplorer.Client.Core.Scryfall.Symbology
@inject SymbologyClient SymbologyClient

<div class="card-display-container">
    <div class="card-image-wrapper">
        <CardImage Card="Card" IsSeen="IsSeen"></CardImage>
    </div>
    <div class="card-text-wrapper">
        @if (!Card.HasMultipleFaces)
        {
            <MudText Typo="Typo.h6">@Card.Name</MudText>
            <MudText Typo="Typo.body1">@_oracleText</MudText>
        }
        else
        {
            <div>
                <MudText Typo="Typo.h6">@Card.CardFaces[0].Name</MudText>
                <MudText Typo="Typo.body1">@_frontText</MudText>
            </div>
            <MudDivider DividerType="DividerType.FullWidth" Style="margin-top: 1rem; margin-bottom: 1rem"/>
            <div>
                <MudText Typo="Typo.h6">@Card.CardFaces[1].Name</MudText>
                <MudText Typo="Typo.body1">@_backText</MudText>
            </div>
        }
    </div>
</div>

<style>
    .card-display-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        gap: 0.5rem;
        touch-action: pan-y;
        overflow-y: hidden;
    }

    .card-symbol {
        display: inline-block;
        margin: 1px 1px -1px 1px;
        -webkit-border-radius: 500px;
        border-radius: 500px;
        -webkit-box-shadow: -1px 1px 0 rgba(0,0,0,0.85);
        box-shadow: -1px 1px 0 rgba(0,0,0,0.85);
        text-indent: -999em;
        overflow: hidden;
        width: 15px;
        height: 15px;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        background-position: top left;
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
        print-color-adjust: exact;
        cursor: help;
    }

    .card-image-wrapper {
        flex: 0 0 auto;
        display: flex;
        justify-content: center;
    }

    .card-text-wrapper {
        overflow-x: auto;
        touch-action: auto;
        overflow-y: auto;
        flex: 1 1 auto;
        min-width: 0;
        width: 100%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    @@media (min-width: 960px) {
        .card-display-container {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            overflow-y: hidden;
            touch-action: auto;
            gap: 1.5rem;
        }
        
        .card-text-wrapper {
            height: 100%;
            overflow-y: auto;
        }
    }
</style>
