@using System.Text.RegularExpressions
@using SetExplorer.Client.Core
@using SetExplorer.Client.Core.Scryfall.Models
@using SetExplorer.Client.Core.Scryfall.Symbology
@using SetExplorer.Client.Core.Scryfall.Symbology.Models
@inject SymbologyClient SymbologyClient

<div class="card-display-container">
    <div class="card-image-wrapper">
        <CardImage Card="Card" IsSeen="IsSeen"></CardImage>
    </div>
    <div class="card-text-wrapper">
        @if (!Card.HasMultipleFaces)
        {
            <MudText Typo="Typo.h6">@Card.Name</MudText>
            <MudText Typo="Typo.body1">@_oracleText</MudText>
        }
        else
        {
            <div>
                <MudText Typo="Typo.h6">@Card.CardFaces[0].Name</MudText>
                <MudText Typo="Typo.body1">@_frontText</MudText>
            </div>
            <MudDivider DividerType="DividerType.FullWidth" Style="margin-top: 1rem; margin-bottom: 1rem"/>
            <div>
                <MudText Typo="Typo.h6">@Card.CardFaces[1].Name</MudText>
                <MudText Typo="Typo.body1">@_backText</MudText>
            </div>
        }
    </div>
</div>

@code
{
    [Parameter, EditorRequired]
    public required ScryfallCard Card { get; set; }

    [Parameter]
    public bool IsSeen { get; set; }

    
    
    private MarkupString? _oracleText;
    private MarkupString? _frontText;
    private MarkupString? _backText;



    private Dictionary<string, ScryfallMtgSymbol>? _symbolLookup;
    protected override async Task OnInitializedAsync()
    {
        if (Card.OracleText?.Contains('{') == true || Card.CardFaces.Any(x => x.OracleText?.Contains('{') ?? false))
        {
            _symbolLookup = await SymbologyClient.GetSymbolLookupAsync(CancellationToken.None);
        }

        _oracleText = GetCardText(Card.OracleText);

        if (Card.HasMultipleFaces)
        {
            _frontText = GetCardText(Card.CardFaces[0].OracleText);
            _backText = GetCardText(Card.CardFaces[1].OracleText);
        }
        
        
        await base.OnInitializedAsync();
    }

    private MarkupString? GetCardText(string? text)
    {
        if (text is null)
        {
            return null;
        }
        if (_symbolLookup is null)
        {
            return new MarkupString(text);
        }

        var matches = RegexHelper.CardSymbolRegex().Replace(text, ReplaceCardSymbol);
        
        return new MarkupString(matches);

        string ReplaceCardSymbol(Match match)
        {
            if (!_symbolLookup.TryGetValue(match.Value, out var symbol))
            {
                return match.Value;
            }
            
            return $"""
                   <abbr 
                   title="{symbol.Description}" 
                   class="card-symbol"
                   style="background-image: url('{symbol.SvgUri}')"
                   >{symbol.Symbol}</abbr>
                   """;
            
        }
    }
}

<style>
    .card-display-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        gap: 0.5rem;
        touch-action: pan-y;
        overflow-y: hidden;
    }

    .card-symbol {
        display: inline-block;
        margin: 1px 1px -1px 1px;
        -webkit-border-radius: 500px;
        border-radius: 500px;
        -webkit-box-shadow: -1px 1px 0 rgba(0,0,0,0.85);
        box-shadow: -1px 1px 0 rgba(0,0,0,0.85);
        text-indent: -999em;
        overflow: hidden;
        width: 15px;
        height: 15px;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
        background-position: top left;
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
        print-color-adjust: exact;
        cursor: help;
    }

    .card-image-wrapper {
        flex: 0 0 auto;
        display: flex;
        justify-content: center;
    }

    .card-text-wrapper {
        overflow-x: auto;
        touch-action: auto;
        overflow-y: auto;
        flex: 1 1 auto;
        min-width: 0;
        width: 100%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    @@media (min-width: 960px) {
        .card-display-container {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            overflow-y: hidden;
            touch-action: auto;
            gap: 1.5rem;
        }
        
        .card-text-wrapper {
            height: 100%;
            overflow-y: auto;
        }
    }
</style>
