@using SetExplorer.Client.Core.Scryfall.Models

<MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.Center" Style="height: 100%; width: 100%;" Spacing="4">
    <div style="flex: 0 0 auto; display: flex; justify-content: center;">
        <CardImage Card="Card" IsSeen="IsSeen"></CardImage>
    </div>
    <div style="flex: 1 1 auto; min-width: 0; height: 100%; overflow-y: auto; padding-top: 1rem; padding-bottom: 1rem">
        @if (!Card.IsDoubleSided)
        {
            <MudCard Elevation="0" Style="background: transparent;">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">@Card.Name</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudText Typo="Typo.body1">@Card.OracleText</MudText>
                </MudCardContent>
            </MudCard>
            
        }
        else
        {
            <div>
                <MudText Typo="Typo.h6">@Card.CardFaces[0].Name</MudText>
                <MudSpacer/>
                <MudText Typo="Typo.body1">@Card.CardFaces[0].OracleText</MudText>
            </div>
            <MudDivider DividerType="DividerType.FullWidth" Style="margin-top: 1rem; margin-bottom: 1rem"/>
            <div>
                <MudText Typo="Typo.h6">@Card.CardFaces[1].Name</MudText>
                <MudSpacer/>
                <MudText Typo="Typo.body1">@Card.CardFaces[1].OracleText</MudText>
            </div>
        }

    </div>
</MudStack>

@code {
    [Parameter, EditorRequired]
    public required ScryfallCard Card { get; set; }

    [Parameter]
    public bool IsSeen { get; set; }
}
