@using SetExplorer.Client.Core.Scryfall
@using SetExplorer.Client.Core.Scryfall.Models
@inject ScryfallSearchClient SearchClient
@inject ILogger<Home> Logger
<MudCarousel TData="ScryfallCard" Style="height: 100%; width: 100%; display: flex; align-content: center" ShowArrows="true" ShowBullets="false" SelectedIndex="_selectedIndex" SelectedIndexChanged="@SelectedIndexChangedAsync" AutoCycle="false">
    <ChildContent>
        @foreach (var card in _cards)
        {
            <MudCarouselItem Style="padding-left: 5%; padding-right: 5%">
                <CardDisplay Card="card"/>
            </MudCarouselItem>
        }    
    </ChildContent>
    <PreviousButtonTemplate>
        @if (_selectedIndex != 0)
        {
            <div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
                <span class="mud-icon-button-label">
                    <MudIcon Class="mud-ripple mud-ripple-icon mud-icon-button-size-medium" Icon="@Icons.Material.Filled.SkipPrevious" Color="@Color.Inherit"/>
                </span>
            </div>    
        }
    </PreviousButtonTemplate>
    <NextButtonTemplate>
        <div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
            <span class="mud-icon-button-label">
                <MudIcon Class="mud-ripple mud-ripple-icon mud-icon-button-size-medium" Icon="@Icons.Material.Filled.SkipNext" Color="@Color.Inherit" />
            </span>
        </div>
    </NextButtonTemplate>
</MudCarousel>

@code {
    
    
    private List<ScryfallCard> _cards = [];
    private IAsyncEnumerator<ScryfallCard>? _currentSearchIterator;
    private int _selectedIndex;
    
    [Parameter]
    public ScryfallCard? SelectedCard { get; set; } 
    [Parameter]
    public EventCallback<ScryfallCard?> SelectedCardChanged { get; set; }

    private string? _lastSearchString;
    
    [Parameter, EditorRequired]
    public required string SearchString { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (string.IsNullOrEmpty(SearchString))
        {
            return;
        }

        if (SearchString == _lastSearchString)
        {
            return;
        }
        _lastSearchString = SearchString;
        
        _currentSearchIterator = SearchClient.GetAllAsync(SearchString).GetAsyncEnumerator();
        _cards.Clear();
        await LoadNextCardsAsync(20);
        if (_cards.Count > 0)
        {
            SelectedCard = _cards[_selectedIndex];
            await SelectedCardChanged.InvokeAsync(SelectedCard);
        }
        
    }

    /// <summary>
    /// This is the page size of scryfalls search endpoint.
    /// Thus this is how much we can simply load without additional IO calls
    /// </summary>
    private const int ScryfallSearchPageSize = 175;
    private async Task LoadNextCardsAsync(int entries = ScryfallSearchPageSize)
    {
        if (_currentSearchIterator is null)
        {
            return;
        }

        if (_currentlyLoadingNewCards)
        {
            return;
        }
        Logger.LogDebug("Loading next cards {amount} ...", entries);
        _currentlyLoadingNewCards = true;
        var itemsTaken = 0;
        while (itemsTaken < entries && await _currentSearchIterator.MoveNextAsync())
        {
            _cards.Add(_currentSearchIterator.Current);
            itemsTaken++;
        }
        _currentlyLoadingNewCards = false;
    }

    private bool _currentlyLoadingNewCards;
    private async Task SelectedIndexChangedAsync(int newIndex)
    {
        if (newIndex > 1 && _selectedIndex == 0)
        {
            return;
        }
        
        if (newIndex == _cards.Count - 1)
        {
            await LoadNextCardsAsync();
            return;
        }
        
        _selectedIndex = newIndex;
        SelectedCard = _cards[newIndex];
        await SelectedCardChanged.InvokeAsync(SelectedCard);
        
        Logger.LogDebug("SelectedIndexChanged: {index}", newIndex);
        if (_cards.Count - newIndex <= 5)
        {
            await LoadNextCardsAsync();
        }
    }
}